* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.title {
    text-align: center;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

.containerTitle {
    text-align: center;
    padding: 50px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

#container {
    color: rgb(2, 2, 2);
    text-align: center;
    margin: 20px auto;
    border: 1px solid black;
    width: 500px;
    height: fit-content;
}

/* Adaptación para teléfonos */
@media (max-width: 768px) {
    #container {
        width: 90%; 
        margin: 10px auto; 
    }

    .title {
        font-size: 1.5rem; 
        padding: 15px;
    }

    .containerTitle {
        padding: 30px 0 0 0;
        font-size: 1.2rem;
    }
}
